@use 'backend' as *;

#{c(main visualRefresh)} {
  #{c(memberList container)} {
    background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.2));
    border: none;
  }
}
#{c(memberList members)},
#{c(memberList memberBackground)} {
  background: none;
}

#{c(memberList placeholderUsernameMultiple)},
#{c(memberList placeholderAvatar)},
#{c(memberList placeholderUsername)} {
  background: cv('shading.card');
}
