@use 'backend' as *;

#{c(main visualRefresh)} {
    #{c(memberList container)} {
        background: cv('shading.side');
        border: none;
    }
}
#{c(memberList members)} {
    background: transparent;
}