@use 'backend' as *;

/* HEADER */
:is(#{c(main themeDark)}, #{c(main themeLight)}) {
  #{c(header themed)} {
    background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.5));
  }
  #{c(header dot)} {
    visibility: hidden;
  }
}
#{c(header children)} {
  &::after {
    display: none;
  }
}
