@use 'backend' as *;

// SETTINGS BACKGROUND
#{c(main appLayer)} {
  background-color: transparent;
}
#{c(settings contentRegion)} {
  background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.4));
}
#{c(main visualRefresh)} {
  #{c(settings contentRegionScroller)} {
    background: transparent;
  }
}
#{c(settings contentColumnDefault)} {
  padding-top: 50px;
}

// GUILD/CHANNELS UNSAVED CHANGES
#{c(main visualRefresh)} {
  #{c(settings noticeContainer)} {
    background: cv('shading.popout');
    border: none;
  }
}

// CARD
#{c(main visualRefresh)} {
  #{c(settings card primary)} {
    &,
    &#{c(settings card editable)} {
      background: cv('shading.card');
      border-color: transparent;
    }
  }
}
#{c(settings card card)} {
  a {
    color: cv('color.main');
  }
}

// COLLAPSEABLE
#{c(main visualRefresh)} {
  #{c(settings collapseable)} {
    &,
    &:active,
    &#{c(settings collapseableToggled)} {
      background: cv('shading.card');
      border: none;
    }
  }
}

// REMOVE BUTTON
#{c(settings removeButton default)} {
  &,
  &:hover {
    background-color: cv('shading.popout');
  }
}