@use 'backend' as *;

// SETTINGS BACKGROUND
#{c(main appLayer)} {
  background-color: transparent;
}
#{c(settings contentRegion)} {
  background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.4));
}
:is(#{c(main visualRefresh)}, html:not(#{c(main visualRefresh)})) {
  #{c(settings contentRegionScroller)} {
    background: transparent;
  }
}
#{c(settings contentColumnDefault)} {
  padding-top: 50px;
}

// CARD
:is(#{c(main visualRefresh)}, html:not(#{c(main visualRefresh)})) {
  #{c(settings card primary)} {
    &,
    &#{c(settings card editable)} {
      background: cv('shading.card');
      border-color: transparent;
    }
  }
}
#{c(settings card card)} {
  a {
    color: cv('color.main');
  }
}
