@use 'backend' as *;

// TRANSPARENT BG
#{c(main visualRefresh)} {
  :is(
		html, // might be needed for injectors
		body,
		#{c(main appMount)}
	) {
    background: none;
  }
}

// BACKGROUND IMAGE
// ";" appears on the top left of the app, in the app_a3002d (main appContainer) layer
// not wrapped in any html tags so not possible to display none it
#{c(main appContainer)} {
  background: cv('shading.bg');
  color: transparent;
}
#{c(main appInner)} {
  background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.1));
}
#{c(main visualRefresh)} {
  #{c(main bg)} {
    background: cv('bg.app.img') center/cover no-repeat;
    background-attachment: cv('bg.app.attach');
    filter: cv('bg.app.filter');
    z-index: -1;
  }
}

// LOADING
#{c(main visualRefresh)} {
  #{c(loading container)} {
    background: cv('shading.bg');
  }
}

// LOADING ICONS
#{c(main wanderingCubes)} #{c(main wanderingCubesItem)} {
  background: cv('color.main');
}
#{c(main spinnerCirclePath)} {
  stroke: cv('color.main');
}