@use 'backend' as *;

// TRANSPARENT BG
:is(#{c(main visualRefresh)}, html:not(#{c(main visualRefresh)})) {
  :is(
		html, // might be needed for injectors
		body,
		#{c(main appMount)}
	) {
    background: none;
  }
}

// BACKGROUND IMAGE
#{c(main appInner)} {
  background: cv('shading.bg');
}
:is(#{c(main visualRefresh)}, html:not(#{c(main visualRefresh)})) {
  #{c(main bg)} {
    background: transparent center/cover no-repeat;
    background-image: cv('bg.app.img');
    background-attachment: cv('bg.app.attach');
    filter: cv('bg.app.filter');
    z-index: -1;
  }
}

// LOADING
:is(#{c(main visualRefresh)}, html:not(#{c(main visualRefresh)})) {
  #{c(loading container)} {
    background: cv('shading.bg');
  }
}
