@use 'backend' as *;

// TRANSPARENT BG
#{c(main visualRefresh)} {
  :is(
		html, // might be needed for injectors
		body,
		#{c(main appMount)}
	) {
    background: none;
  }
}

// BACKGROUND IMAGE
#{c(main appInner)} {
  background: cv('shading.bg');
}
#{c(main visualRefresh)} {
  #{c(main bg)} {
    background: cv('bg.app.img') center/cover no-repeat;
    background-attachment: cv('bg.app.attach');
    filter: cv('bg.app.filter');
    z-index: -1;
  }
}

// LOADING
#{c(main visualRefresh)} {
  #{c(loading container)} {
    background: cv('shading.bg');
  }
}

// LOADING ICONS
#{c(main wanderingCubesItem)}
#{c(main spinnerCirclePath)} {
  background: cv('color.main');
}