@use 'backend' as *;

/* NOTICE */
#{c(notice base)} {
  border-radius: 4px;
  background: hsl(from var(--custom-notice-background, var(--hsl-main-color)) h s l/.8);
}

// CUSTOM COLOURS
#{c(notice colorBrand)} {
  --custom-notice-background: var(--hsl-main-color);
}
#{c(notice colorDanger)} {
  --custom-notice-background: var(--hsl-danger-color);
}
#{c(notice colorStreamerMode)} {
  --custom-notice-background: var(--hsl-streaming-color);
}
