@keyframes cv-channel-select {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes cv-card-loading {
  0% {
    opacity: 0.66;
  }
  50% {
    opacity: 0.33;
  }
  100% {
    opacity: 0.66;
  }
}
