@use 'backend' as *;

#{c(checkbox checkbox)} {
  border-radius: 4px;
  &#{c(checkbox checked)} {
    border-color: cv('color.main');
    background-color: transparent;
  }
}

// SLIDER - inline styles
#{c(checkbox slider container)} {
  background: hsl(from var(--interactive-normal) h s l/.1) !important;
  &#{c(checkbox slider checked)} {
    background: cv('color.main') !important;
    path {
      fill: cv('color.main');
    }
  }
}