@use 'backend' as *;

#{c(radio item)} {
  &[aria-checked='true'] {
    background-color: transparent;
  }
}
#{c(radio itemFilled)} {
  // old ui
  background-color: transparent;
}
#{c(radio refreshIconStroke)} {
  r: 10 !important; // inline
  stroke: var(--interactive-active);
}
#{c(radio refreshIcon)} {
  fill: var(--interactive-active);
}
#{c(radio indicatorChecked)} {
  color: var(--interactive-active);
  #{c(radio refreshIconFill)} {
    fill: none;
  }
  #{c(radio refreshIconStroke)} {
    stroke: var(--interactive-active);
  }
}
#{c(radio bar)} {
  background-color: cv('shading.card');
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
}
#{c(radio item)} {
  &[aria-checked='true'] {
    #{c(radio bar)} {
      background-color: var(--radio-bar-accent-color, cv('color.main'));
    }
  }
}
