@use 'backend' as *;

#{c(slider slider)} {
  #{c(slider bar)},
  #{c(slider markDash)} {
    background: cv('shading.card');
  }
  #{c(slider barFill)} {
    background: cv('color.main');
  }
  #{c(slider grabber)} {
    filter: drop-shadow(0 0 3px cv('color.main'));
  }
}
