@use 'backend' as *;

//  inline styles
#{c(switch container)} {
  background: hsl(from var(--interactive-normal) h s l/.1) !important;
  &#{c(switch checked)} {
    background: cv('color.main') !important;
    path {
      fill: cv('color.main');
    }
  }
}
