@use 'backend' as *;

/* TAB */
// TOP
#{c(main visualRefresh)} {
  #{c(tab top)} {
    #{c(tab item)} {
      --selected-tab-item-color: var(--hsl-hover-color);
      &#{c(tab selected)} {
        --selected-tab-item-color: var(--hsl-main-color);
        color: var(--interactive-active);
      }
    }
  }
}

// PILL
#{c(main visualRefresh)} {
  :is(#{c(tab topPill)}, #{c(tab side)}) {
    #{c(tab themed)} {
      &#{c(tab item)} {
        &:hover:not(#{c(tab disabled)}) {
          background-color: cv('shading.hover');
        }
        &#{c(tab selected)} {
          background-color: cv('color.main');
          &:hover:not(#{c(tab disabled)}) {
            background-color: cv('color.main');
          }
        }
      }
    }
  }
}
