@use 'backend' as *;

// BACKGROUND
#{c(serverGuide background)} {
  #{c(scroller base)} {
    background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.4));
  }
}

// CARDS
#{c(main visualRefresh)} {
  #{c(serverGuide rowCard)} {
    background: cv('shading.card');
    border: cv('shading.card');
  }
}
#{c(serverGuide guildIcon)} {
  background-color: cv('shading.card');
  border-color: transparent;
}
#{c(serverGuide profileContainer)} {
  background: cv('shading.popout');
  border: none;
}
#{c(serverGuide profileAvatarWrapper)} {
  background: cv('shading.card');
}
