@use 'backend' as *;

:is(#{c(main visualRefresh)}, html:not(#{c(main visualRefresh)})) {
  #{c(serverGuide rowCard)} {
    background: cv('shading.card');
    border: cv('shading.card');
  }
}
#{c(serverGuide guildIcon)} {
  background-color: cv('shading.card');
  border-color: transparent;
}
#{c(serverGuide profileContainer)} {
  background: cv('shading.card');
  border: none;
}
#{c(serverGuide profileAvatarWrapper)} {
  background: cv('shading.card');
}
