@use 'backend' as *;
// Vencord stuff

// SETTINGS CARDS
#{c(vencord quickActions pill)} {
  background: cv('shading.card');
  border: 1px solid transparent;
  &:hover {
    background: cv('shading.card');
    box-shadow: none;
    border-color: cv('color.main');
  }
}
.vc-addon-card {
  background: cv('shading.card');
  border: 2px solid transparent;
  &:hover {
    background: cv('shading.card');
    border-color: cv('color.main');
  }
}

// NOTIFICATION
.vc-notification-root {
  background: cv('shading.popout');
}


// SPOTIFY CONTROLS
:is(#{c(main themeLight)}, #{c(main themeDark)}) {
  #vc-spotify-player {
    background: transparent;
  }
}