@use 'backend' as *;
// Vencord stuff
#{c(vencord quickActions pill)} {
  &,
  &:hover {
    background: cv('shading.card');
    box-shadow: none;
  }
}


// SPOTIFY CONTROLS
:is(#{c(main themeLight)}, #{c(main themeDark)}) {
  #vc-spotify-player {
    background: transparent;
  }
}