@use 'backend' as *;

/* DISCORD BUGS */

// ";" appears on the top left of the app, in the app_a3002d (main appContainer) layer
// not wrapped in any html tags so not possible to apply styles to it
#{c(main appContainer)} {
  visibility: hidden;
}
#{c(main appInner)} {
  visibility: visible
}


// panel icons overlay over avatar when sidebar is hidden (visual refresh)
#{c(sidebar sidebar)} {
  &[data-collapsed="true"] {
    #{c(sidebar panel buttons buttons)} {
      display: none;
    }
    #{c(sidebar panel avatarWrapper)} {
      justify-content: center;
    }
  }
}