@use 'start' as *;
@use 'backend' as *;

// Watermark
#{c(settings sidebarInfo)} {
  &::after {
    content: $themeName ' ' $version;
    color: cv('text.muted');
    font-size: 12px;
    line-height: calc(4 / 3);
    font-weight: 400;
    font-family: var(--font-primary);
  }
}

#{c(title title container)} {
  &::before {
    content: $themeName;
    position: absolute;
    left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: cv('text.normal');
    filter: drop-shadow(0 0 5px cv('color.main'));
  }
  &::after {
    content: $version;
    position: absolute;
    left: 100px;
    margin-top: 3px;
    font-family: cv('font.code');
    font-size: 12px;
    font-weight: 600;
    color: cv('text.muted');
  }
  &:has(+ #{c(title leading container)}:not(:empty)) {
    &::before {
      left: calc(var(--custom-guild-list-width) + 10px);
    }
    &::after {
      left: calc(var(--custom-guild-list-width) + 100px);
    }
  }
}
