@use 'backend' as *;

#{c(main visualRefresh)} {
  #{c(modals root)} {
    background: cv('shading.modal');
    border: none;
    box-shadow: none;
  }
}
#{c(modals header)},
#{c(modals body)},
#{c(modals footer)} {
  background: transparent;
}
