@use 'backend' as *;

:is(#{c(main visualRefresh)}, html:not(#{c(main visualRefresh)})) {
  #{c(modals root)} {
    background: cv('shading.modal');
    border: none;
  }
  #{c(modals footer)} {
    background: transparent;
  }
}
