@use 'backend' as *;

#{c(main visualRefresh)} {
  #{c(modals quickswitcher modal)} {
    background: cv('shading.popout');
    border: none;
    background: cv('shading.input.bg');
  }
  #{c(modals quickswitcher scroller)} {
    background: transparent;
  }
  #{c(modals quickswitcher search)} {
    border: 2px solid cv('shading.input.border');
    &:focus-within {
      border-color: cv('color.main');
      box-shadow: 0 0 2px 0 cv('color.main');
    }
  }
}
#{c(modals quickswitcher scroller)} {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent !important;
  }
}
#{c(modals quickswitcher result)} {
  &[aria-selected=true] {
    background: cv('color.hover')
  }
}