@use 'backend' as *;

#{c(main visualRefresh)} {
  #{c(modals screenshare headerContainer)} {
    background: transparent;
  }
}

// PAGE 1
#{c(modals screenshare tile)} {
  &:hover {
    #{c(modals screenshare sourceThumbnail)} {
      box-shadow: inset 0 0 0 2px cv('color.main');
    }
  }
}
#{c(modals screenshare sourceThumbnail)} {
  &#{c(modals screenshare sourceSelected)} {
    box-shadow: inset 0 0 0 2px cv('color.main');
  }
}

// PAGE 2
#{c(modals screenshare card)} {
  background: cv('shading.cardInner');
}
#{c(modals screenshare selector)} {
  background: cv('shading.cardInner');
  &:hover {
    &::before {
      background: cv('color.hover');
    }
  }
  &#{c(modals screenshare selectorSelected)} {
    &::before {
      background: cv('color.main');
    }
  }
}