@use 'backend' as *;
#{c(main visualRefresh)} {

    // CHANNELS
    .sidebarList_c48ade { // temp
        margin: 0 5px calc(var(--custom-app-panels-height) + 15px) 0;
        border-radius: 10px;

    }
    #{c(sidebar server container)} {
        background: cv('shading.top');
        padding-bottom: 10px;
    }
}