@use 'backend' as *;
#{c(main visualRefresh)} {
  // GUILD LIST
  #{c(guildList guilds)} {
    margin-bottom: var(--custom-app-panels-height);
    background: transparent;
    padding-top: 10px;
  }
}

// PILL
#{c(guildList pillWrapper)} {
  overflow: visible;
}
#{c(guildList pillItem)} {
  box-shadow: 0 0 6px 1px cv('color.main');
}

// HOME BUTTON
#{c(main visualRefresh)} {
  #{c(guildList homeWrapper)} {
    background-color: cv('shading.card');
    &:not(#{c(guildList acronym)}) {
      background-image: cv('home.icon');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px;
    }
    svg {
      display: none;
    }
  }
}
#{c(guildList iconWrapper)} {
  &:hover {
    #{c(guildList homeWrapper)} {
      background-color: cv('color.hover');
    }
  }
  &#{c(guildList selected)} {
    #{c(guildList homeWrapper)} {
      background-color: cv('color.main');
    }
  }
}

// GUILD ICON
#{c(guildList guildIcon)} {
  background-color: cv('shading.card');
}

// FOLDER
#{c(main visualRefresh)} {
  #{c(guildList expandedFolderBackground)} {
    background-color: cv('shading.card');
  }
}

// ADD GUILD/DISCOVER BUTTONS
#{c(guildList bottomButton)} {
  background-color: cv('shading.card');
  &#{c(guildList bottomButtonSelected)} {
    background-color: cv('color.main');
  }
  #{c(main visualRefresh)} & {
    &:hover {
      &:not(#{c(guildList bottomButtonDisabled)}) {
        background-color: cv('color.hover');
      }
    }
  }
}

// NEW MENTION
#{c(guildList mention mention)} {
  background-color: cv('color.main');
  border-radius: 5px;
}
