@use "backend" as *;

// ACCOUNT PANEL
#{c(main visualRefresh)} {
	#{c(sidebar panel panels)} {
		background: cv('shading.bottom');
		border-radius: 0;
		border: none;
		width: var(--custom-guild-sidebar-width);
    	left: 0;
		bottom: 0;
	}
}

// ACTIVITY
:is(
	#{c(main light)},
	#{c(main dark)}
) {
	#{c(sidebar panel activity panel)} {
		background-color: transparent;
	}
}