@use 'backend' as *;

// ACCOUNT PANEL
#{c(main visualRefresh)} {
  #{c(sidebar panel panels)} {
    background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.5));
    border-radius: 0;
    border: none;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 8px;
  }
}

// ACTIVITY
:is(#{c(main themeLight)}, #{c(main themeDark)}) {
  #{c(sidebar panel activity panel)} {
    background-color: transparent;
  }
}
