@use 'backend' as *;

#{c(main visualRefresh)} {
  #{c(sidebar private channels)} {
    background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.2));
  }
  #{c(sidebar private scroller)} {
    background: transparent;
    margin-bottom: 10px;
  }
}

// HEADER
#{c(sidebar private headerText)} {
  display: flex;
  color: cv('color.main');
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
}
#{c(main visualRefresh)} {
  // TEMP
  :is(.plusIcon__675e5, #{c(sidebar private inviteButtonIcon)}) {
    margin: 0 -4px 0 0;
    #{c(header icon)} {
      color: cv('color.main');
    }
  }
}

// big blue button in visual refresh looks ugly, make it transparent
#{c(sidebar private searchBar)} {
  #{c(button lookFilled)}#{c(button colorPrimary)} {
    background: transparent;
    color: cv('text.default');
  }
}
