@use 'backend' as *;
#{c(os win platform)} {
  #{c(sidebar sidebar)} {
    border-radius: 0;
  }
}
:is(#{c(main visualRefresh)}, html:not(#{c(main visualRefresh)})) {
  #{c(sidebar sidebar)} {
    background: transparent;
    &:after {
      display: none;
    }
  }
}
