@use 'backend' as *;
#{c(os win)} {
  #{c(sidebar sidebar)} {
    border-radius: 0;
  }
}
#{c(main visualRefresh)} {
  #{c(sidebar sidebar)} {
    background: transparent;
    &:after {
      display: none;
    }
  }
}
