@use 'backend' as *;

// FIXES BG
#{c(main options fullMotion)} #{c(modals translate)} {
  transform: unset !important;
}

// NO NITRO PROFILE
#{c(profile outer)} {
  &:not(#{c(profile themed)}) {
    &#{c(profile biteSize)} {
      background: cv('bg.popout.img') center/cover no-repeat;
      background-attachment: cv('bg.popout.attach');
      filter: cv('bg.popout.filter');
    }
    &#{c(profile fullSize)} {
      background: cv('bg.modal.img') center/cover no-repeat;
      background-attachment: cv('bg.modal.attach');
      filter: cv('bg.modal.filter');
    }
    #{c(profile inner)} {
      background: cv('shading.bg');
    }

    // STATUS BUBBLE
    #{c(profile statusBubbleOuter)} {
      background: cv('shading.popout');
    }
    #{c(profile statusBubbleOuter)} {
      &::before,
      &::after {
        display: none;
      }
    }
    #{c(profile statusBubbleInner)} {
      background: transparent;
    }
  }
}
#{c(profile overlay)} {
  background-color: cv('shading.card');
}

// POPOUT SEND MESSAGE
:is(#{c(main visualRefreshChatInput)}, :not(#{c(main visualRefreshChatInput)})) {
  #{c(chatForm channelTextAreaInline)} {
    background-color: cv('shading.input.bg');
    border: none;
    box-shadow: 0 0 2px cv('shading.input.border');
    &:focus-within {
      box-shadow: 0 0 2px 2px cv('color.main');
    }
  }
  // NITRO PROFILE
  #{c(profile themed)} {
    #{c(chatForm channelTextAreaInline)} {
      background: var(--chat-background-default);
      &:focus-within {
        box-shadow: 0 0 2px 2px var(--profile-gradient-primary-color);
      }
    }
  }
}

// NITRO PROFILE MODAL
#{c(main visualRefresh)} {
  #{c(profile themed)} {
    #{c(tab top)} {
      #{c(tab item)} {
        --selected-tab-item-color: var(--profile-gradient-secondary-color);
        &#{c(tab selected)} {
          --selected-tab-item-color: var(--profile-gradient-primary-color);
        }
      }
    }
  }
}
#{c(profile themed)} {
  ::-webkit-scrollbar-thumb {
    background-color: var(--profile-gradient-primary-color);
  }
  #{c(profile noteTextarea)} {
    &:focus {
      box-shadow: 0 0 2px 2px var(--profile-gradient-primary-color);
    }
  }
}

// DM SIDE PROFILE
#{c(profile panel panel)} {
  &#{c(profile outer)} {
    &:not(#{c(main customTheme)}) {
      background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.2));
    }
  }
}
