@use 'backend' as *;

// FIXES BG
#{c(main options fullMotion)} #{c(modals translate)} {
  transform: unset !important;
}

// NO NITRO PROFILE
#{c(profile userPopout)} {
  &:not(#{c(profile customTheme)}) {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: cv('bg.popout.img') center/cover no-repeat;
      background-attachment: cv('bg.popout.attach');
      filter: cv('bg.popout.filter');
      z-index: -1;
    }
  }
}
#{c(profile userModal)} {
  &:not(#{c(profile customTheme)}) {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: cv('bg.modal.img') center/cover no-repeat;
      background-attachment: cv('bg.modal.attach');
      filter: cv('bg.modal.filter');
      z-index: -1;
    }
  }
}
#{c(profile outer)} {
  &:not(#{c(profile customTheme)}) {    
    background: cv('shading.bg');
    #{c(profile inner)} {
      background: transparent;
    }

    // STATUS BUBBLE
    #{c(profile statusBubbleOuter)} {
      background: cv('shading.popout');
    }
    #{c(profile statusBubbleOuter)} {
      &::before,
      &::after {
        display: none;
      }
    }
    #{c(profile statusBubbleInner)} {
      background: transparent;
    }
  }
}
#{c(profile overlay)} {
  background-color: cv('shading.card');
}
#{c(profile note)} {
  #{c(profile noteTextarea)} {
    border: none;
    background: cv('shading.input.bg');
    &:focus {
      background: cv('shading.input.bg');
    }
  }
}

// POPOUT SEND MESSAGE
#{c(main visualRefresh)} {
  // NITRO PROFILE
  #{c(profile customTheme)} {
    #{c(chatForm channelTextAreaInline)} {
      background: var(--user-profile-note-background-focus);;
      box-shadow: 0 0 0 2px var(--profile-body-border-color);
      &:focus-within {
        box-shadow: 0 0 2px 2px var(--profile-gradient-primary-color);
      }
    }
  }
}

// NITRO PROFILE MODAL
#{c(main visualRefresh)} {
  #{c(profile customTheme)} {
    #{c(tab top)} {
      #{c(tab item)} {
        --selected-tab-item-color: var(--profile-gradient-secondary-color);
        &#{c(tab selected)} {
          --selected-tab-item-color: var(--profile-gradient-primary-color);
        }
      }
    }
  }
}
#{c(profile customTheme)} {
  ::-webkit-scrollbar-thumb {
    background-color: var(--profile-gradient-primary-color);
  }
  #{c(profile noteTextarea)} {
    background: var(--user-profile-note-background-focus);
    &:focus {
      box-shadow: 0 0 2px 2px var(--profile-gradient-primary-color);
      background: var(--user-profile-note-background-focus);
    }
  }
}

// DM SIDE PROFILE
#{c(profile userSidebar)} {
  &:not(#{c(profile customTheme)}) {
    background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.3));
  }
}
