@use 'backend' as *;

/*member list, profile*/
#{c(avatar mask)} rect {
  // OFFLINE
  &[fill*='#82838b'] {
    fill: cv('color.offline');
  }
  // ONLINE
  &[fill*='#40a258'] {
    fill: cv('color.online');
  }
  // IDLE
  &[fill*='#cc954c'] {
    fill: cv('color.idle');
  }
  // DND
  &[fill*='#d83a41'] {
    fill: cv('color.dnd');
  }
  // STREAMING
  &[fill*='#593695'] {
    fill: cv('color.streaming');
  }
}
