@use 'backend' as *;

// BACKGROUND
#{c(main visualRefresh)} {
    #{c(chat chat)} {
        background: transparent;
        &[data-has-border=true] {
            border: none
        }
    }
    &#{c(main midnight)} {
        #{c(chat chatContent)} {
            border: none;   // Only midnight theme has this??????
        }
    }
    #{c(chat chatContentInner)} {
        background: cv('shading.middle');
    }
}

// CHAT LOADING
#{c(chat chatLoadingWrapper)},
#{c(chat messageLoadingWrapper)} {
    background-color: transparent;
}