@use 'backend' as *;

// BACKGROUND
#{c(main visualRefresh)} {
  #{c(chat chat)} {
    background: transparent;
    &[data-has-border='true'] {
      border: none;
    }
    &#{c(chat threadSidebarOpen)} {
      border-radius: 0;
    }
  }
  &#{c(main themeMidnight)} {
    #{c(chat chatContent)} {
      border: none; // Only midnight theme has this??????
    }
  }
  :is(#{c(chat chatScrollerNSFW)}, #{c(chat chatContentInner)}) {
    background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.35));
  }
}

// CHAT LOADING
#{c(chat chatLoadingWrapper)},
#{c(chat messageLoadingWrapper)} {
  background-color: transparent;
}





.divider__908e2:has(.content__908e2 ) {
  border: none;
}

.visual-refresh .content__908e2 {
  display: flex;
  flex: 1;
  background-color: transparent;
  align-items: center;
  font-weight: 700;
}
.content__908e2::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  background: var(--background-modifier-accent);
  margin-right: 10px;
}
.content__908e2::after {
  content: '';
  height: 1px;
  flex-grow: 1;
  background: var(--background-modifier-accent);
  margin-left: 10px;
}
.isUnread__908e2 .content__908e2::before,
.isUnread__908e2 .content__908e2::after {
  background: var(--divider-color);
}