@use 'backend' as *;

#{c(main visualRefreshChatInput)} {
  #{c(chatForm formWithLoadedChatInput)} {
    &:before {
      display: none;
    }
  }
  #{c(chatForm channelTextAreaMainChat)} {
    // Seperate input with buttons
    background: transparent;
    border: 2px solid transparent;
    #{c(chatForm themedBackground)} {
      background-color: cv('shading.input.bg');
      box-shadow: 0 0 0 2px cv('shading.input.border');
      border-radius: 8px;
      &:focus-within {
        box-shadow: 0 0 2px 2px cv('color.main');
      }
    }
  }
  #{c(chatForm channelBottomBarArea)} {
    margin-bottom: 0;
  }

  //  BUTTONS
  #{c(chatForm accessoryBar)} {
    border: none;
    margin-left: 0;
    pointer-events: none;
  }
  #{c(chatForm accessoryBarLeft)},
  #{c(chatForm accessoryBarRight)} {
    pointer-events: initial;
  }

  #{c(chatForm attachButton)} {
    background-color: cv('color.main');
    padding: 4px 12px;
    margin-left: -8px;
    border-radius: 4px;
    color: var(--button-filled-brand-text);
    &:hover {
      background-color: cv('color.hover');
      color: var(--button-filled-brand-text);
    }
    &::after {
      // See "/theme/misc/_i18n.scss" for more.
      content: var(--__i18n-attachment);
      font-size: 1em;
      margin-left: 0.5em;
    }
  }

  // TYPING
  #{c(chatForm typing)} {
    margin-left: 20px;
    font-size: 14px;
    opacity: 0.9;
  }
}
