@use 'backend' as *;

#{c(main visualRefresh)} {
  #{c(chat reactions reactions)} {
    border-radius: 4px;
    #{c(chat reactions me)} {
      background: hsl(from cv('color.main') h s l/.15);
      border-color: cv('color.main');
      #{c(chat reactions count)} {
        color: var(--interactive-active);
      }
    }
  }
  :is(#{c(chat reactions reaction)}, #{c(chat reactions reactionBtn)}) {
    &:hover {
      border: 1px solid cv('color.hover');
    }
  }
}

// TOOLTIP
#{c(chat reactions tooltip tooltip)} {
  background: cv('shading.popout');
}
:is(#{c(main themeLight)}, #{c(main themeDark)}) {
  #{c(chat reactions tooltip button)} {
    background: cv('color.main');
    &:hover {
      background: cv('color.hover');
    }
  }
}

// SUPER REACTIONS
#{c(chat reactions burst glow)} {
  border-radius: 4px;
}
