@use 'backend' as *;

#{c(main visualRefresh)} {
  #{c(thread resizeHandle)} {
    background: transparent;
  }
  #{c(thread container)} {
    background: transparent;
    border: none;
    border-bottom-left-radius: 0;
  }
}

// ICON
#{c(thread iconWrapper)} {
  background: cv('color.main');
}
#{c(thread icon)} path {
  fill: var(--interactive-active);
}