@use 'backend' as *;

#{c(popouts autocomplete popout)} {
  background: cv('shading.popout');
  box-shadow: none;
}
#{c(popouts autocomplete clickable)} {
  &[aria-disabled=false] {
    #{c(popouts autocomplete base)} {
      &:hover {
        background: cv('color.hover');
      }
    }
  }
  &[aria-selected='true'] {
    #{c(popouts autocomplete base)} {
      background: cv('color.hover');
    }
  }
}
#{c(popouts autocomplete contentTitle)} {
  padding: 4px 8px;
  color: var(--header-primary);
}

// SLASH COMMANDS CATEGORIES
#{c(main visualRefresh)} {
  #{c(popouts autocomplete railWrapper)} {
    background: transparent;
  }
}
#{c(popouts autocomplete categorySelected)} {
  &,
  &:hover {
    background: cv('color.main');
  }
}
