@use 'backend' as *;

:is(#{c(main visualRefresh)}, html:not(#{c(main visualRefresh)})) {
  #{c(popouts pins popout)} {
    background: cv('shading.popout');
    box-shadow: none;
  }
  #{c(popouts pins header)},
  #{c(popouts pins footer)} {
    background: transparent;
  }
  #{c(popouts pins messageGroup)} {
    background: hsl(from var(--hsl-card-shading) h s calc(100 - l)/calc(alpha * .2));
    border: none;
  }
  #{c(popouts pins jumpButton)} {
    background: cv('color.main');
    border-color: transparent;
    color: var(--interactive-active);
    &:hover {
      background: cv('color.hover');
      color: var(--interactive-active);
    }
  }
}