@use 'backend' as *;

#{c(main visualRefresh)} {
  :is(#{c(popouts soundboard picker)}, #{c(popouts soundboard picker)}#{c(popouts soundboard refresh)}) {
    background: cv('shading.popout');
  }
  #{c(popouts soundboard sound button wrapper)} {
    background: transparent;
  }
  #{c(popouts soundboard sound button button)} {
    background-color: cv('shading.cardInner');
    &:is(:hover, :focus-within, #{c(popouts soundboard sound button focused)}) {
      border-color: cv('color.main');
      &#{c(popouts soundboard sound button hoverActiveBackground)} {
        background: cv('shading.card');
      }
    }
  }
}
