@use 'backend' as *;

#{c(tooltips primary)} {
  background-color: cv('shading.popout');
  border: none;
  #{c(tooltips pointer)} {
    border-top-color: cv('shading.popout');
    &::before,
    &::after {
      display: none;
    }
  }
}

#{c(tooltips brand)} {
  background-color: cv('color.main');
  border: none;
  #{c(tooltips pointer)} {
    border-top-color: cv('color.main');
  }
}