@use 'start' as *;
@use 'backend' as *;
// if the visual-refresh class gets removed or no experiment, most should work
// not priority atm


// TITLE
#{c(os titleBar)} {
	background: cv('shading.bg');
	margin: 0;
	padding-top: 4px;
}
#{c(os wordmark)} {
  svg {
    width: 0;
    height: 0;
  }
  &::before {
    content: $themeName;
    position: static;
    font-size: 16px;
    font-weight: 600;
    color: cv('text.normal');
    filter: drop-shadow(0 0 5px cv('color.main'));
  }
  &::after {
    content: $version;
    position: static;
    margin-left: 5px;
    font-family: cv('font.code');
    font-size: 12px;
    font-weight: 600;
    color: cv('text.muted');
  }
}



