@use 'start' as *;
@use 'backend' as *;
// if the visual-refresh class gets removed or no experiment, most should work
// not priority atm


// BACKGROUND IMAGE
:is(
		html, // might be needed for injectors
		body,
		#{c(main appMount)}
	) {
  background: none;
}
#{c(main bg)} {
  background: transparent center/cover no-repeat;
  background-image: cv('bg.app.img');
  background-attachment: cv('bg.app.attach');
  filter: cv('bg.app.filter');
	z-index: -1;
}
#{c(loading container)} {
  background: cv('shading.bg');
}

// TITLE
#{c(os titleBar)} {
	background: cv('shading.bg');
	margin: 0;
	padding-top: 4px;
	&::before {
    content: $themeName;
    position: absolute;
    left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: cv('text.normal');
    filter: drop-shadow(0 0 5px cv('color.main'));
  }
  &::after {
    content: $version;
    position: absolute;
    left: 95px;
    margin-top: 3px;
    font-family: cv('font.code');
    font-size: 12px;
    font-weight: 600;
    color: cv('text.muted');
  }
}
#{c(os wordmark)} {
	display: none;
}



