@use 'backend' as *;

// CHANNELS
#{c(sidebar sidebar)} {
	background: transparent;
}
:is(#{c(main themeDark)}, #{c(main themeLight)}) #{c(sidebar server container)} {
	background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.25));
	padding: 0;
}

// HEADER
#{c(sidebar server header clickable)},
#{c(sidebar server header header)} {
	background: transparent;
}
:is(#{c(sidebar server header communityInfoVisible)}, #{c(sidebar server header hasBanner)}) {
	#{c(sidebar server header header)} {
		background-color: transparent;
	}
}

// BANNER
#{c(sidebar server header bannerContainer)} {
	background-color: transparent;
	border: none;
}

// PILL
#{c(sidebar server channel unreadPill)} {
	box-shadow: 0 0 6px 1px cv('color.main');
}

// UNREAD BAR
#{c(sidebar server unreadBar bottom)} {
	bottom: 8px
}
#{c(sidebar server unreadBar bar)} {
	background-color: cv('color.main');
	border-color: cv('color.main');
}
#{c(sidebar server unreadBar unreadIcon)},
#{c(sidebar server unreadBar text)} {
	color: var(--button-filled-brand-text) !important; //inline style
}

// VC LIMIT
#{c(sidebar server channel voiceLimitUsers)} {
	background: transparent;
}
#{c(sidebar server channel voiceLimitUsers)} {
	padding: 0 8px 0 6px;
}
#{c(sidebar server channel voiceLimitTotal)} {
	padding: 0 6px 0 1px;
}

// CHANNELS
#{c(sidebar server category wrapperCommon)} {
	#{c(sidebar server category mainContent)} {
		#{c(sidebar server category name)} {
			flex: 1;
		}
	}
}
#{c(sidebar server category name)} {
	display: flex;
	align-items: center;
	justify-content: center;
	color: cv('color.main');
	font-weight: 700;
	&::before {
		content: '';
		height: 2px;
		flex-grow: 1;
		transition: all 0.3s ease-in-out;
		background: linear-gradient(to left, cv('color.main') 50%, transparent);
		margin-right: 5px;
	}
	&::after {
		content: '';
		height: 2px;
		flex-grow: 1;
		transition: all 0.3s ease-in-out;
		background: linear-gradient(to right, cv('color.main') 50%, transparent);
		margin-left: 5px;
	}
}
#{c(sidebar server category children)} {
	margin-left: 6px;
}
#{c(sidebar server category addButtonIcon)} {
	color: cv('color.main');
}
