@use 'backend' as *;

// CHAT
#{c(chat chat)} {
	background: transparent;
	&[data-has-border='true'] {
		border: none;
	}
	&#{c(chat threadSidebarOpen)} {
		border-radius: 0;
	}
}
:is(#{c(chat chatScrollerNSFW)}, #{c(chat chatContentInner)}) {
	background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.4));
}
#{c(chat buttonWrapper)} {
	background-color: cv('shading.popout');
	border-color: cv('shading.popout');
	box-shadow: none;
}


// CHAT DIVIDER
#{c(chat divider content)} {
	display: flex;
	flex: 1;
	background-color: transparent;
	align-items: center;
	font-weight: 700;
}


// CHAT BARS
#{c(chat bar newMessages)} {
	top: 4px;
	right: 8px;
	background: hsl(from cv('color.main') h s l/.9);
	border-radius: 8px;
	transition: all 0.1s ease-in-out;
	&:active {
		padding-top: 0;
		scale: .99;
	}
}
#{c(chat bar jumpToPresent)} {
	background: cv('shading.popout');
	border: none;
	border-radius: 5px;
}
#{c(chat bar messagesError)} {
	background: cv('color.danger');
	border: none;
	border-radius: 5px;
}
#{c(chat followWrapper)} {
	background: cv('shading.popout');
	border: none
}


// EMBEDS
#{c(embeds embedFull)} {
  background: cv('shading.card');
}
#{c(embeds invite wrapper)} {
  background: cv('shading.card');
  border: none;
}
#{c(embeds invite statusOnline)} {
  background: cv('color.online');
}
#{c(embeds invite statusOffline)} {
  background: cv('color.offline');
}
#{c(embeds gift tile)} {
  background: cv('shading.card');
  border: none;
  &:hover {
    background: cv('shading.card');
  }
}
#{c(embeds media audioWrapper)} {
  background: cv('shading.card');
  border: none;
}
#{c(embeds media audioControls)} {
  background: transparent;
}



// FORUMS
#{c(forums container)} {
	background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.3));
}
#{c(forums header)} {
	background: cv('shading.input.bg');
	border: none;
	box-shadow: 0 0 2px cv('shading.input.border');
	#{c(input input)} {
		background: none;
		box-shadow: none;
	}
}
#{c(pages tags pill)} {
	@include card;
}
#{c(forums newPostsPopout)} {
	background: cv('shading.popout');
	border-color: transparent;
}
:is(#{c(forums grid card)}, #{c(forums list card)}) { // might need theme-dark/light in the future
	background: cv('shading.card');
	border: 2px solid transparent;
	&:hover {
		background: cv('shading.card');
		border-color: cv('color.hover');
	}
	:is(#{c(main themeDark)}, #{c(main themeLight)}) &:is(#{c(forums grid isOpen)}, #{c(forums list isOpen)}) {
		background: cv('shading.card');
		border-color: cv('color.main');
	}
}
#{c(forums grid contentPreview)} {
	background: cv('shading.card');
	border: none;
}
#{c(forums pinIcon)} {
	background: cv('color.main');
}
#{c(forums chat divider)} {
	background: transparent;
}
#{c(forums chat header iconWrapper)} {
	background: cv('color.main');
}
#{c(forums chat header icon)} {
	path {
		fill: var(--interactive-active);
	}    
}
#{c(forums chat bar container)} {
	background: transparent;
	border: none;
}
#{c(forums chat bar active)} {
	color: cv('color.main');
}