@use 'backend' as *;

#{c(chatForm form)} {
  margin-top: 0;
}
#{c(main visualRefresh)} {
  #{c(chatForm channelTextArea)} {
    background-color: var(--input-background);
    border-color: transparent;
    box-shadow: 0 0 0 2px var(--input-border);
    &:focus-within {
      border-color: transparent;
      box-shadow: 0 0 0 2px var(--hsl-main-color);
    }
  }
  #{c(chatForm stackedBars)},
  #{c(chatForm attachmentArea)} {
    background: transparent;
  }
  #{c(chatForm upload)} {
    background: cv('shading.card');
    border: none;
  }
}
  #{c(chatForm threadSuggestionBar)},
  #{c(chatForm themedBackground)} {
    background: transparent;
  }

