@use 'backend' as *;

// GUILDS
#{c(guildList guilds)} {
	background: transparent;
}

#{c(guildList homeWrapper)} {
  background-color: cv('shading.card');
  &:not(#{c(guildList acronym)}) {
    background-image: cv('home.icon');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
  }
  svg {
    display: none;
  }
}

#{c(guildList footer)} {
  background: transparent;
}