@use 'backend' as *;

// PANELS
#{c(sidebar panel panels)} {
  background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.6));
  border-radius: 0;
}
:is(#{c(main themeLight)}, #{c(main themeDark)}) {
  #{c(sidebar panel container)} {
    background-color: transparent;
  }
}
