@use 'backend' as *;

// PRIVATE
#{c(sidebar private channels)} {
	background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.25));
}
:is(#{c(main themeLight)}, #{c(main themeDark)})  #{c(sidebar private scroller)} {
	background: transparent;
}
:is(#{c(sidebar private startActivityIcon)}, #{c(sidebar private inviteButtonIcon)}) {
	margin: 0 -4px 0 0;
	#{c(header icon)} {
		color: cv('color.main');
	}
	&:hover {
		#{c(header icon)} {
			color: cv('color.hover');
		}
	}
}
#{c(sidebar private interactive)} {
	transition: all 0.15s ease-in-out;
	border-radius: 4px;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		left: 0;
		transition: all 0.15s ease-in-out;
		z-index: -1;
		border-radius: 4px;
	}
	// HOVER
	&:hover {
		background: cv('shading.hover');
	}
	// SELECTED
	&#{c(sidebar private selected)} {
		background-color: transparent;
		color: var(--interactive-active);
		&::before {
			right: 0;
			background: cv('color.main');
			animation: cv-channel-select 0.3s ease-in-out;
		}
		#{c(sidebar private subtextText)} {
			color: var(--interactive-active);
		}
	}
}